
  <nav class="navbar">
    <a class="navbar__title" alt="Experimentality"> <img src="/src/assets/logo.png">Experimentality</a>
    <form class="form-inline">
      <input  name="search" [(ngModel)]="search" class="form-control mr-sm-2" type="search" placeholder="Buscar video" aria-label="Search">
      <button (click)="searchVideo()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </nav>



<div class="row list-videos">
  <div class="card col-md" *ngFor="let video of videos" >
    <img class="card-img-top" src="{{video.snippet.thumbnails.high.url}}" (click)="playVideo(video.id, video.snippet.title, video.snippet.description)" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">{{video.snippet.title}}</p>      
    </div>
  </div>
</div>


<div class="row play-container" >
  <div class="play-container__video">
    <iframe class=" player  " id="ytplayer" type="text/html" width="720" height="405" [src]=" idVideo | url:'https://www.youtube.com/embed/'"
    frameborder="0" allowfullscreen>
  </iframe>
  </div>
  <div class="play-container__information ">
    <div class="card-body col-xs-6">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>